<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <style>
        body {
            background-color: rgb(107, 24, 24);
            color: rgb(206, 206, 206);
            font-family: monospace;
            margin: 3%;
        }
    </style>
</head>

<body>
    <h1 style="color:rgb(196, 196, 0)">Oops!</h1>
    <h2 style="color:rgb(185, 185, 0)">Something went wrong while processing this request</h2>
    <div class="err">
        <h3>
            <%= message %>
            <span style="color:rgb(255, 251, 0)">
                <%= error.statusCode %>
            </span>
        </h3>
        <pre><%= error.stack %></pre>
        <p>
            <a style="color: rgb(255, 222, 119);" href="http://192.168.1.55/vajahath/miwago-backend/issues">report this
                error</a>
        </p>
    </div>
</body>

</html>